<div class="container">
  <mat-toolbar color="primary" class="title-size">
    {{app_name}}
  </mat-toolbar>
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form-title-size bold">{{labels.formTitle}}</mat-card-title>
        <mat-card-subtitle>{{labels.formSubtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field color="primary">
          <mat-label>{{labels.id}}</mat-label>
          <input matInput [(ngModel)]="id" (keyup.enter)="submit()" appAutofocus
                 placeholder="{{labels.idPlaceholder}}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{labels.password}}</mat-label>
          <input matInput [(ngModel)]="password" (keyup.enter)="submit()"
                 placeholder="{{labels.passwordPlaceholder}}">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="submit()" color="primary">
          {{labels.submit}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
