@import "~src/global_vars";
@import '~src/global_classes';

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.form-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

mat-toolbar {
  white-space: normal;
  padding: 40px 16px;
  justify-content: center;
  text-align: center;
}

mat-card {
  width: 40%;
}

@media screen and (max-width: 900px) {
  mat-card {
    width: 80%;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  flex: 1;
}
