@import '~@angular/material/theming';
@import '~src/global_vars';

@include mat-core();

$app-primary: mat-palette($mat-pink, 900, 800, 900);
//$app-accent: mat-palette($mat-blue, 800, 800, 900);
$app-accent: mat-palette($mat-amber, 700, 800, 900);
$app-warn: mat-palette($mat-orange, 900, 400, 700);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $back-color;
}

mat-card {
  width: 100%;
  height: fit-content;
}

//* {
//  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//  color: gray;
//}
